
.ten{
    margin: auto;
    width: 50%;
    text-align: center;
    border: 5px solid aliceblue;
    font-family: 'Playpen Sans', cursive;
    font-weight: 700;
    font-size: large;
}
.anh{
    margin: auto;
    width: 50%;
    border: 5px solid aliceblue;
}
.icon{
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: larger;
    font-family: 'Playpen Sans', cursive;
    font-weight: 700;
    border: 5px solid aliceblue;
    cursor: pointer;
}
.chuthich{
    text-align: center;
    font-size: larger;
    font-family: 'Playpen Sans', cursive;
    font-weight: 700;
}